/*
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/

#cc-product-review-form {
  margin: 20px 0px 20px 0px;
}

#cc-product-review-failed,
#cc-product-review-received {
  border: 1px solid #cccccc;
  background-color: #f3f3f3;
  border-radius: 7px;
  padding: 20px 30px;
  width: auto;
  display: none;
}

#cc-product-review-failed {
  background-color: #db4c3f;
  color: #f3f3f3;
  border:none;
}

#cc-review-processing {
  margin-left: 20px;
  display: none;
}

form.cart66-form header {
  margin: 0 0 20px 0; 
}
form.cart66-form header div {
  font-size: 90%;
  color: #999;
}
form.cart66-form header h2 {
  margin: 0 0 5px 0;
}

form.cart66-form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}

form.cart66-form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}

/*
form.cart66-form > div > label,
form.cart66-form legend {
  width: 25%;
  float: left;
  padding-right: 10px;
}
form.cart66-form > div > div,
form.cart66-form > div > fieldset > div {
  width: 75%;
  float: right;
}
*/

form.cart66-form > div > fieldset label {
  font-size: 90%;
}

form.cart66-form fieldset {
  border: 0;
  padding: 0;
}

form.cart66-form input[type=text],
form.cart66-form input[type=email],
form.cart66-form input[type=url],
form.cart66-form input[type=password],
form.cart66-form textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
form.cart66-form input[type=text],
form.cart66-form input[type=email],
form.cart66-form input[type=url],
form.cart66-form input[type=password] {
  width: 50%;
}
form.cart66-form input[type=text]:focus,
form.cart66-form input[type=email]:focus,
form.cart66-form input[type=url]:focus,
form.cart66-form input[type=password]:focus,
form.cart66-form textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

/** Labels on top **/
form.cart66-form > div {
  margin: 0 0 15px 0; 
}

form.cart66-form > div > label,
form.cart66-form legend {
  width: 100%;
  float: none;
  margin: 0 0 10px 0;
  font-weight: 700;
  display: inline-block;
}

form.cart66-form > div > div,
form.cart66-form > div > fieldset > div {
  width: 100%;
  float: none;
}

@media (max-width: 600px) {
  form.cart66-form input[type=text],
  form.cart66-form input[type=email],
  form.cart66-form input[type=url],
  form.cart66-form input[type=password],
  form.cart66-form textarea,
  form.cart66-form select {
    width: 100%; 
  }
}
/*
@media (min-width: 1200px) {
  form.cart66-form > div > label,
  form.cart66-form legend {
    text-align: right;
  }
}
*/
