.cc_error {
  color: red;
}

.cc_cart_widget_wrapper .cc_cart_widget_list {
  list-style-type: none;
}

.cc_cart_widget_wrapper .cc_cart_widget_list_item {
  list-style-image: none;
}

.cart66 .cart66-form .ajax_button_notice {
  margin-top: 20px;
  display: block;
  padding-right: 10px !important;
}

.cart66 .cart66-form .ajax_view_cart_button {
  margin-top: -3px;
}

.cc_close_message {
  display: none;
}

#content .cart66 .cart66-form .alert-error ul,
.cart66 .cart66-form .alert-error ul {
  margin-left: 14px;
}

.cart66 .cart66-form .alert-error ul li {
  list-style-type: disc;
  list-style-position: outside;
  font-family: arial;
  font-size: 12px;
}

.cart66 .cart66-form .ajax_add_to_cart_message .alert .cc_ajax_message {
  font-family: arial;
  font-size: 12px;
  display: block !important;
  line-height: 12px;
  text-align: center;
}

#content .cart66 .pull-right.ajax_view_cart_button, .cart66 .pull-right.ajax_view_cart_button {
  float: none !important;
  display: block;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 12em;
  height: auto !important;
  border: 1px solid #BBBBBB;
}

#content .cart66 .ajax_add_to_cart_message .alert-success,
.cart66 .ajax_add_to_cart_message .alert-success {
  background-color: #eeeeee;
  border-color: #e9e9e9;
  color: #333333;
}

.cc_error_code {
  font-size: small;
  color: #dedede;
  float: right;
}

.cc_error_code_hidden {
  font-size: small;
  color: #ffffff;
  float: right;
}

#cc_error_overlay {
    display: block; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 25%; /* positions the div half way horizontally */
    top: 25%; /* positions the div half way vertically */
    padding: 25px;
    border: 2px solid black;
    background-color: #ffffff;
    width: 50%;
    height: 100px;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
}

#cc_error_fade {
    display: block;  /* ensures it’s invisible until it’s called */
    position: absolute;  /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 0%; /* makes the div span all the way across the viewing area */
    top: 0%; /* makes the div span all the way across the viewing area */
    background-color: black;
    -moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
}

/** Cart Link Nav Item **/
li.cc-cart-link-light,
li.cc-cart-link-dark {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  padding-left: 25px;
  display: inline-block;
  background: url(../images/cart-icon-light.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: auto 18px;
  background-color: #555555;
}

li.cc-cart-link-light {
  background: url(../images/cart-icon-dark.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: auto 18px;
  background-color: #ffffff;
}

#menu-primary li.cc-cart-link-dark a {
  color: #FFFFFF;
}

/** Standalone Cart Link */
a.cc-cart-link-light,
a.cc-cart-link-dark {
  font-size: 14px;
  font-weight: normal;
  padding: 1rem 1.8rem 1rem 45px;
  display: inline-block;
  float: right;
  margin-left: 10px;
  background: url(../images/cart-icon-light.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: auto 18px;
  background-color: #555555;
  border: 1px solid #555555;
}

a.cc-cart-link-light {
  background: url(../images/cart-icon-dark.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: auto 18px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

/** Cart Count Hook Class **/
.cc-cart-count {
  font-weight: normal;
}

/** Hide post meta on product pages **/
.single-cc_product .entry-meta {
  display: none;
}

/** Style the reviews **/
.cc-product-review-average {
  max-width: 600px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 10px 0px 10px 0px;
}

.cc-product-review {
  max-width: 600px;
  border-bottom: 1px solid #efefef;
} 

.cc-product-review .cc-product-review-name p {
  text-align: right;
  font-style: italic;
  padding: 10px 20px 10px 0px;
}

.cc-product-review .cc-product-review-name p::before {
  content: "\2014";
}

.cc-product-review-rating {
  margin-bottom: 10px;
}

.cc-product-review-star {
  color: #f7c143;
  padding-right: 3px;
}

.cc-product-review-small-text {
  color: #656565;
  padding: 3px 0px 10px 0px;
  font-size: 0.8em;
}

